<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="max-w-xl mx-auto text-center mt-20">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">Connect with our Telegram Bot</h1>
        <p class="text-gray-600 mb-6">
          To receive donation updates and alerts, click the button below to start a chat with our bot.
          Once opened, press <strong>/start</strong> to register.
        </p>
        <a href="https://t.me/RedRespondBot?start" target="_blank"
           class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600 transition">
          Connect with Telegram
        </a>
      </div>
      
</body>
</html>